@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

body{
  max-width: 1000px;
  margin: auto;
}

header{
    display: flex;
}

.logo{
    margin: auto;
    margin-top: 20px
}
.logo img{
  width: 300px;
  height: 100px;
}

.searchWrapper{
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

form{
  width: 100%;
}

input{
    border: none;
    height: 40px;
}
.searchWrapper input{
    width: 100%;
    background-color: #E7E7E7;
    border-radius: 5px;
    opacity: 1!important;
}
input[type="text"]{
    font-size:18px;
}

.searchWrapper i{
    position: absolute;
    right: 15px;
    top: 162px;
}

/* Recipes */

#recipeList{
  display: flex;
  margin-top: 35px;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin-left: -35px;
}
  
.Recipes{
  display: flex;
  max-width: 310px;
max-height: 360px;
border: 1px solid black;
flex-direction: column;
margin-bottom: 20px; 
border-radius: 5px;

}

.RecipeTime{
  font-weight: bold;
}

.RecipesImg {
  height: 178px;
  width: 100%;
  background-color: #C7BEBE;
  border: 1px solid gray;
  border-radius: 5px;
}

.RecipeDescription{
  background-color: #E7E7E7;
  
}

.RecipeTitleTime{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
}

.IngredientSteps{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
  margin-top: 10px;
}

.IngredientSteps p{
  overflow: hidden;
  font-size: 12px;
}

.recipeDescription{
  width: 171px;
}

.IngredientUl{
  overflow: hidden;
  margin-left: -30px;
  width: 171px;
}

.IngredientUl li{
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
}

/* Filters */

.dropdownFilters{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* Ingredients */
#ingredientFilter{
  background-color: #3282F7;
  color: white;
  max-width: 650px;
  max-height: 400px;
}
#searchIngredient{
  background-color: #3282F7;
  color: white;
}
#uniIngredient{
  
}

/* Appareil */
#appareilFilter{
  background-color: #68D9A4;
  color: white;
  max-width: 650px;
  max-height: 400px;
}
#searchAppreil{
  background-color: #68D9A4;
  color: white;
}


/* Ustentiles */
#ustensilesFilter{
  background-color: #ED6454;
  color: white;
  max-width: 650px;
  max-height: 400px;
}
#searchUstensiles{
  background-color: #ED6454;
  color: white;
}

/* Tags */
#tagList{
  display: flex;
}

.tagAppearanceIngredient{
  width: 150px; 
  background-color: #3282F7;
  color: #fff;
}

.tagAppearanceUstensils{
  width: 150px; 
  background-color: #ED6454;
  color: #fff;
}

.tagAppearanceAppliance{
  width: 150px; 
  background-color: #68D9A4;
  color: #fff;
}