@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

body{
  max-width: 1200px;
  margin: auto;
}

header{
    display: flex;
}

.logo{
    margin: auto;
    margin-top: 20px
}
.logo img{
  width: 300px;
  height: 100px;
}

.searchWrapper{
    max-width: 1200px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

form{
  width: 100%;
}

input{
    border: none;
    height: 40px;
}
.searchWrapper input{
    width: 100%;
    background-color: #E7E7E7;
    border-radius: 5px;
    opacity: 1!important;
}
input[type="text"]{
    font-size:18px;
}

.searchWrapper i{
    position: absolute;
    right: 15px;
    top: 162px;
}

#icon{
  position: relative;
  right: 25px;
  top: 12PX;
}
/* Recipes */

#recipeList{
  display: flex;
  margin-top: 35px;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin-left: -35px;
}
  
.Recipes{
  display: flex;
  width: 310px;
  height: 360px;
  border: 2px solid black;
  flex-direction: column;
  margin-bottom: 20px; 
  border-radius: 5px;

}

.RecipeTime{
  font-weight: bold;
}

.RecipesImg {
  height: 150px;
  width: 100%;
  background-color: #C7BEBE;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.RecipeDescription{
  background-color: #E7E7E7;
  
  width: 100%;
  height: 206px;
}

.RecipeTitleTime{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
margin-bottom: 10px;
}

.IngredientSteps{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
  
}


.IngredientSteps p{
  overflow: hidden;
  font-size: 12px;
  width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  height: 150px;
}

.recipeDescription{
  width: 171px;
}

.IngredientUl{
  overflow: hidden;
  margin-left: -37px;
  width: 171px;
  height: 155px;
}

.IngredientUl li{
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
}

/* Filters */

.dropdownFilters{
  margin-top: 15px;
  display: flex;
}

/* DropDown Menus */
.arrowDropDown1 img{
  color: blue;
}
/* .arrowDropDown1:hover {
  rotate: 180deg;
} */

.rotate {rotate: 180deg;}

.filterFormImg{
  width:250px;
  display: flex;
}



.show {display:block;}

/* Ingredients */
.ingredientFilter{
  background-color: #3282F7;
  color: white;
  min-width: 100px;
  max-width: 650px;
  max-height: 400px;
  min-height: 50px;
  margin-right: 15px;
  border-radius: 5px;
  display: inline-block;
}
#searchIngredient{
  background-color: #3282F7;
  color: white;
  padding: 10px;
  border-radius: 5px;
  padding-right: 35px;
}


.arrowDropDown1{
  position: relative;
  right: 30px;
  cursor: pointer;
}
.arrowDropDown2{
  position: relative;
  right: 10px;
}
.arrowDropDown3{
  position: relative;
  right: 10px;
}

#ingredientFilter{
  margin-right: 15px;
}

.ingreidientsList{
  position: absolute;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
margin-top: 0px;
background-color: #3282F7;
max-width: 652px;
max-height: 320px;
display: -webkit-box;
-webkit-line-clamp: 160;
-webkit-box-orient: vertical;
overflow: hidden;
display: flex;
flex-direction: column;
flex-wrap: wrap;
display: none;
width: 100%;
color: white;
list-style-type: none;
margin-left: -30px; 
}
.AppareilList{
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0px;
  background-color: #68D9A4;
  max-width: 652px;
  max-height: 320px;
  display: -webkit-box;
  -webkit-line-clamp: 160;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}

.ustentilsList{
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 0px;
  background-color: #ED6454;
  max-width: 652px;
  max-height: 320px;
  display: -webkit-box;
  -webkit-line-clamp: 160;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}
/* Appareil */
#appareilFilter{
  background-color: #68D9A4;
  color: white;
  max-height: 400px;
  min-height: 50px;
  margin-right: 15px;
  border-radius: 5px;
}

#uniAppareil{
  display: none;
  position: absolute;
  background-color: #68D9A4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 652px;
max-height: 320px;
display: -webkit-box;
-webkit-line-clamp: 160;
-webkit-box-orient: vertical;
overflow: hidden;
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 0px;
display: none;
}

.show {display:block;}

#searchAppreil{
  background-color: #68D9A4;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


/* Ustentiles */
#ustensilesFilter{
  background-color: #ED6454;
  color: white;
  max-width: 650px;
  max-height: 400px;
  border-radius: 5px;
}
#searchUstensiles{
  background-color: #ED6454;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#uniUstensiles{
  display: none;
  position: absolute;
  background-color: #ED6454;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-width: 652px;
max-height: 320px;
display: -webkit-box;
-webkit-line-clamp: 160;
-webkit-box-orient: vertical;
overflow: hidden;
display: flex;
flex-direction: column;
flex-wrap: wrap;
margin-top: 0px;
display: none;
}

/* Tags */
#tagList{
  display: flex;
  margin-left: -40px;
  border-radius: 5px;
}

.tagAppearanceIngredient{
  width: 145px;
  background-color: #3282F7;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.tagAppearanceUstensils{
  width: 145px; 
  background-color: #ED6454;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.tagAppearanceAppliance{
  width: 145px; 
  background-color: #68D9A4;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}