@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: 'Lato', sans-serif;
}

body{
  max-width: 1400px;
  margin: auto;
}

header{
    display: flex;
}

.logo{
    margin: auto;
    margin-top: 20px
}
.logo img{
  width: 300px;
  height: 100px;
}

.searchWrapper{
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

form{
  width: 100%;
}

input{
    border: none;
    height: 40px;
}
.searchWrapper input{
    width: 100%;
    background-color: #E7E7E7;
    border-radius: 5px;
    opacity: 1!important;
}
input[type="text"]{
    font-size:18px;
}

.searchWrapper i{
    position: absolute;
    right: 15px;
    top: 162px;
}

#icon{
  position: relative;
  right: 25px;
  top: 12PX;
}
/* Recipes */

#recipeList{
  display: flex;
  margin-top: 35px;
  flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
margin-left: -35px;
}
  
.Recipes{
  display: flex;
  width: 310px;
  height: 360px;
  border: 2px solid black;
  flex-direction: column;
  margin-bottom: 20px; 
  border-radius: 5px;

}

.RecipeTime{
  font-weight: bold;
}

.RecipesImg {
  height: 150px;
  width: 100%;
  background-color: #C7BEBE;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.RecipeDescription{
  background-color: #E7E7E7;
  
  width: 100%;
  height: 206px;
}

.RecipeTitleTime{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
margin-bottom: 10px;
}

.IngredientSteps{
  display: flex;
  margin-left: 5px;
margin-right: 5px;
justify-content: space-between;
  
}


.IngredientSteps p{
  overflow: hidden;
  font-size: 12px;
  width: 150px;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  height: 150px;
}

.recipeDescription{
  width: 171px;
}

.IngredientUl{
  overflow: hidden;
  margin-left: -37px;
  width: 171px;
  height: 155px;
}

.IngredientUl li{
  font-size: 12px;
  font-weight: bold;
  list-style-type: none;
}

/* Filters */

.dropdownFilters{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

/* DropDown Menus */
.arrowDropDown1 img{
  color: blue;
}

.rotate {rotate: 180deg;}

#searchIngredient{
  background-color: #3282F7;
  color: white;
  border-radius: 5px;
  width: 100%;
}

/*   */
/*   */
/*   */
/* Ingredient */
.article-ingredients{
  width: auto;
  transition: width 0.1s ease;
}

.filterFormImgIng{
  cursor: pointer;
  width: 14rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  color: white;
  height: 5rem;
  border-radius: 3px;
  transition: width 0.1s ease;
  margin-right: 5px;
}

.ingreidientsList{
  max-width: 450px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 3px 3px;
  padding: 1rem 1rem;
  top: 100%;
  transition: all 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  margin-top: 0px;
  padding: 5px;
  max-height: 450px;
  overflow: -moz-hidden-unscrollable;
  width: 100%;
}

.show  {
  opacity: 1 !important;
  visibility: visible !important;
  /* width: 38.1%; */
}

.ingredients {
  background-color: #3282f7;
}

.larger{
  max-width: 450px;
  margin-right: 1rem;
  width: 100%;
}

.open {
  width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search__filter__list__item{
  flex-basis: 33%;
  position: relative;
  margin-bottom: 0.2rem;
  display: block;
  color: white;
  text-align: left;
  transition: all 0.1s;
}

/* 
/
/
*/
/* Appareil Filter */
/* 
/
/
*/

.appareils{
  background-color: #68d9a4;
}
.article-appareils{
  width: auto;    
  transition: width 0.1s ease;
}

.filterFormImgApp{
  width: 212px;
  cursor: pointer;
  width: 13rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
  height: 5rem;
  border-radius: 3px;
  transition: width 0.1s ease;
  margin-right: 5px;
}


.AppareilList{
  width: 195px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 3px 3px;
  padding: 1rem 1rem;
  top: 100%;
  transition: all 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  margin-top: 0;
}

.search__filter__list__item2{
  flex-basis: 33%;
  position: relative;
  margin-bottom: 0.2rem;
  display: block;
  color: white;
  text-align: left;
  transition: all 0.1s;
}


/* 
/
/
/
/
/
//
/
*/


#searchAppreil{
  background-color: #68D9A4;
  color: white;
  /* padding: 10px; */
  border-radius: 5px;
}

/* 
/
/
/
/
//
 */
/* Ustentiles */
/* 
/
/
/
/
//
 */
.article-ust {
  width: auto;
  transition: width 0.1s ease;
}

article {
  display: block;
}

.filterFormImgUst{
  cursor: pointer;
    width: 12rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    color: white;
    height: 5rem;
    border-radius: 3px;
    transition: width 0.1s ease;
    width: 14rem;
}

.ustensile {
  background-color: #ed6454;
}

.ustentilsList{
  width: 212px;
  padding: 3px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 0 0 3px 3px;
  padding: 1rem 1rem;
  top: 100%;
  transition: all 0.1s;
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  margin-top: 0;
  max-height: 450px;
  overflow: hidden;
}

.search__filter__list__item3{
  flex-basis: 33%;
  position: relative;
  margin-bottom: 0.2rem;
  display: block;
  color: white;
  text-align: left;
  transition: all 0.1s;
}


/* #ustensilesFilter{
  background-color: #ED6454;
  color: white;
  border-radius: 5px;
} */
#searchUstensiles{
  background-color: #ED6454;
  color: white;
  padding: 10px;
  border-radius: 5px;
}



/* Tags */
#tagList{
  display: flex;
  margin-left: -40px;
  border-radius: 5px;
}

.tagAppearanceIngredient{
  width: 145px;
  background-color: #3282F7;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.tagAppearanceUstensils{
  width: 145px; 
  background-color: #ED6454;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.tagAppearanceAppliance{
  width: 145px; 
  background-color: #68D9A4;
  color: #fff;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}


.arrowDropDown2{
  position: relative;
  right: 10px;
}
.arrowDropDown3{
  position: relative;
  right: 10px;
}
